{% extends 'core/base.html' %} {% load static %} {% load crispy_forms_tags %} {%
block principal %}
<style>
  .white_card_header {
    margin-top: 80px;
  }

  .white_card_body {
    margin-top: 15px;
  }
</style>

<div class="white_card mb_30" style="margin: 0 15px">
  <div class="white_card_header">
    <div class="box_header m-0">
      <div class="main-title">
        <h2 class="m-0">Creación de Cuenta</h2>
      </div>
    </div>
  </div>
  <div class="white_card_body">
    <div class="row">
      <div class="col sm-8 offset">
        <form method="POST">
          {% csrf_token %} {{ form | crispy }}
          <div style="text-align: center; margin-bottom: 50px">
            <input
              type="submit"
              class="btn btn-primary"
              value="Crear Cuenta"
              style="margin-top: 15px; text-align: center"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
